.attractions-home-card-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  background: rgb(151, 215, 153);
  /* height: 300px; */
  height: 265px;
}
.attractions-home-card-img1,
.attractions-home-card-img2,
.attractions-home-card-img3,
.attractions-home-card-img4 {
  width: 260px;
  height: 350px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-top: -85px;
}

.attractions-home-card-img5 {
  width: 260px;
  height: 320px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-top: -55px;
}

.attractions-home-heading-div {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -60px;
}

.attractions-home-heading {
  font-size: 23px;
  color: rgb(99, 99, 99);
}

@media screen and (max-width: 750px) {
  .attractions-home-card-div {
    display: none;
    margin-bottom: 20px;
  }

  .attractions-home-heading {
    display: none;
  }
}

@media screen and (max-width: 1300px) {

  .attractions-home-card-img {
    margin: 20px;
  }

  .attractions-home-card-img4 {
    display:none;
  }

  .attractions-home-card-div {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .attractions-home-heading {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 800px) {
  .attractions-home-card-img1,
.attractions-home-card-img2,
.attractions-home-card-img3,
.attractions-home-card-img4 {
  display:none;
}

.attractions-home-card-img5 {
  display:inline;
}


}

@media screen and (min-width: 800px) {
  .attractions-home-card-img5 {
    display:none;
  }
}
