
.flightcard-section{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
     flex-direction: row;
    justify-content: center;
}

.flight-cards{
    margin-left: 20px;
    overflow-y: auto;
    max-height: 1420px;
    width: 80%;
    text-align: center;
    justify-content: center;
}

.flight-card-img {
    text-align: center;
    align-items: center;
}

.bupa-img {
    width: 300px;
    margin: 100px ;
}
.bookingcom-img {
    width: 300px;
    margin: 100px ;
    margin-top:20px;
}

.flightcard-container {
    margin: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

.flight-card {
    display: flex;
    flex-direction: row;
    width: 500px;
    border-radius: 10px;
    border: 1px black solid;
    height: 200px;
    text-align: center;
    align-items: center;
    border-right: 0;
    box-shadow: 0px 6px 6px #cac9c9;  
    background-color: white; 

}

.ryanair {
    width: 70px;
    height: 50px;
    margin: 0;
  
}

.flight-card {
    display: flex;
    flex-direction: row;
    

}

.airline {
    margin-left: 40px;
   
}


.departure {
    margin: 20px;
    color: black;
    margin-left: 20px;
    
  
}

.arrival {
    margin: 20px;
    margin-right: 50px;
    
}

.duration {
    margin: 15px;
    
}

.price-card {
    border: 1px black solid;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    border-left:2px rgb(143, 142, 142) dashed;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px #cac9c9;
    background-color: white;
    
}

.price {
    width: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
  
}

.price-btn {
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: 3px solid rgb(4, 156, 4);
    background-color: rgb(2, 155, 2);
    color: white;
    margin: 0;
    margin-top: 5px;
}

.price-figure {
 margin-top: 40px;
 margin-left: 20px;
    color: black;

}

.flight-info {
    color: black;
    margin: 0;
    padding: 10px;
    
}


@media screen and (max-width: 850px){
    .flightcard-container {

        text-align: center;
    }

    .flight-card {
        box-shadow: 0px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border: 1px solid rgb(138, 136, 136);
        border-bottom: 0;
        align-items: center;
        height: 150px;
        width: 500px;
       
    }

    .bupa-img {
    display: none;
    }
    .bookingcom-img {
    display: none;
    }

    .price {
       margin-bottom: 35px;
    }

    .price-card {
        width: 550px;
        border: 1px solid black;
        height: 70px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        box-shadow: 0;
        border-top: 2px dashed grey;
    }
    .price-btn {
        margin-left: 20px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 550px){
    .flightcard-container {
        text-align: center;
        margin: 0;
        margin-left: 40px;
        margin-bottom: 150px;
    }

    .flight-card-img {
        display:none;
    }

    .flight-card {
        box-shadow: 0px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-bottom: 0;
        align-items: center;
        height: 150px;
        width: 400px;

    }

    .price {
        margin-bottom: 35px;
    }

    .price-card {
        width: 500px;
        border: 1px solid black;
        height: 70px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        box-shadow: 0;
        border-top: 2px dashed grey;
    }
    .price-btn {
        margin-left: 20px;
        margin-right: 30px;
    }
    
.airline {
    margin-left: 10px;
   
}

.departure {
    margin: 10px;
    color: black;
   
    
  
}

.arrival {
    margin: 10px;
    
}

.duration {
    margin: 5px;
    
}

.bupa-img {
    display: none;
}
.bookingcom-img {
    display: none;
}
}

@media screen and (max-width: 400px){

    .bupa-img {
        display: none;
    }
    .bookingcom-img {
        display: none;
    }



}