* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 247, 248);
  color: black;
}

/* .App {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.airport-main {
  display: flex;
  flex-direction: column;
}

#searchBar {
  height: 50px;
  width: 270px;
  font-size: 22px;
  padding: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 20px;
  color: rgb(135, 135, 135);
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(20, 37, 91, 0.884);
}

.suggestions {
  display: flex;
  height: 60px;
  width: 300px;
}

/* h1,
h2 {
  margin-bottom: 20px;
  margin-right: 20px;
} */

.header {
  display: flex;
  margin: 40px;
}

.dropdown-flights {
  border: grey 1px solid;
  border-radius: 10px;
  margin-top: 70px;
  /* background-color: rgb(15, 60, 184); */
  background-color: #3b749e;
  box-shadow: 1px 1px 1px black;
  color: white;
  width: 270px;
  position: absolute;
  z-index: +1;
  overflow: auto;
  height: 200px;
}

option {
  font-size: 22px;
}

option:hover {
  /* background-color: #696c85; */
  background-color: #3ea5f0;

  opacity: 84%;
}
