.colab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.colab-img1 {
    width: 200px;
    margin: 20px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img2 {
    width: 100px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img3 {
    width: 150px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img4 {
    width: 200px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img5 {
    width: 150px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.colab-img6 {
    width: 150px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.colab-img7 {
    width: 230px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img8 {
    width: 70px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img9 {
    width: 150px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img10 {
    width: 200px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.colab-img11 {
    width: 90px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.colab-img12 {
    width: 80px;
  margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
