.modal-wrapper {
    border: solid 1px black;
    display: inline-flex;
    flex-direction: column;
    background: #fff;
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: absolute; 
    z-index: 1; 
}

.modal-header {
    color: black;
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-header h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.modal-header img {
    height: 30px;
}

.modal-header span {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.modal-content {
    padding: 10px;
}

.modal-body {   
    margin-bottom: 10px;
}

.modal-body p {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    color: black;
    padding: 5px;
}

.modal-footer button {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
    background: #eee;
    color: black;
    border: none;
    cursor: pointer;
}
