@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(245, 247, 248);
}
h1 {
  text-align: center;
  color: grey;
}
h2 {
  /* text-align: left; */
  padding: 10px;
  color: grey;
}
h3 {
  word-spacing: 2px;
  padding: 10px;
  color: grey;
}
.container {
  display: flex;
  height: 70%;
  flex-direction: column;
  text-align: center;
  border: black solid 1px;
  border-radius: 20px;
  margin: 20px;
}

.statistics-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}
.total-btn {
  display: flex;
  width: 120px;
  height: 50px;
  background-color: #3b749e;
  border-radius: 12px;
  margin-left: 50px;
  align-items: center;
  color: white;
  font-weight: 900;
  align-self: center;
  justify-content: center;
  font-size: 18px;
}

.total-btn:hover {
  background-color: #3ea5f0;
}

.stats-dropdown {
  display: flex;
}
form {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin: 2%;
}
.stats-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 4%;
  margin-left: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
td {
  padding: 1%;
}
th {
  padding: 3%;
  border: 0;
}
tr {
  border: solid rgb(202, 196, 196) 2px;
}

/* #btn {
  background-color: #5387a1;
  color: white;
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  width: 10%;
} */

.country-select2 {
  border-radius: 12px;
  font-size: 18px;
  background-color: #3b749e;
  padding: 10px;
  margin: 3px;
  width: 70%;
  /* opacity: 75%; */
  height: 50px;
  color: white;
  font-weight: 900;
}
/* .btn:hover {
  border-radius: 50px;
  background: #fcad26;
  color: #fff;
} */

.incrementContainer {
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 auto;
}

.increment-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.increment-data {
  margin-right: 20%;
}

.arrow-green {
  text-align: center;
  margin: 8% 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(19, 170, 62);
  font-size: 0;
  line-height: 0;
  float: left;
}
.arrow-yellow {
  text-align: center;
  margin: 8% 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgb(247, 228, 62);
  font-size: 0;
  line-height: 0;
  float: left;
}

.arrow-red {
  text-align: center;
  margin: 8% 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(216, 6, 6);
  font-size: 0;
  line-height: 0;
  float: left;
}

.bounce-up-down {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* .bounce-right {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
} */

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.indicator-container {
  width: 20%;
}
.indicator-red {
  background-color: rgb(216, 6, 6);
}
.indicator-green {
  background-color: rgb(19, 170, 62);
}
.indicator-yellow {
  background-color: rgb(247, 228, 62);
}
.indicator-grey {
  background-color: grey;
}

/*DESKTOP*/
@media only screen and (min-width: 700px) {
}
