.attractions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
}

.attractions-card {
    border: 1px solid rgba(126, 126, 126, 0.61);
    width: 270px;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    box-shadow: 0 0 8px 6px rgba(111, 111, 111, 0.329);
    
}

.attractions-card-info {
    margin-top: 5px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 25%;
  width: 800px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border: black 2px solid;
  border-radius: 25px;
  box-shadow: 200px 200px 200px 400px rgba(62, 62, 62, 0.534);
  overflow-y:auto ;
  
}

.card-button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(71, 115, 191);
    color: white;
    border: 1px solid rgb(71, 115, 191);
    margin: 10px;
    cursor: pointer;
    
}

.card-image {
    width: 268px;
    height: 220px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.status-color {
    margin-top: 5px;
}

.status-moderate{
    color: orange;
}

.status-open{
    color: green;
}

.status-closed {
    color: red;
}

.status-text {
    margin-top: 10px;
    margin-bottom: 10px;
}


.attractions-btn {
    width: 270px;
    height: 35px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(186, 186, 186);
    margin: 20px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 40px;
    margin-right: 65px;
}

.attractionsbtn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 30px;
    
}

.attractions-search-box {
    height: 40px;
    width: 500px;
    border-radius: 15px;
    border: 1px solid gray;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bold;

}

@media screen and (max-width: 850px){
    .btn-container1{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .attractions-search-box {
        height: 40px;
        width: 300px;
        border-radius: 15px;
        border: 1px solid gray;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size: larger;
        font-weight: bold;
    
    }
}