/*https://colorhunt.co/palette/220258*/

.body-footer {
    background-color: #f3eac2;  
}

.h3.footer {
    font-family: sans-serif;
}



.logo.title {
    border: 1px solid black;
}

.logo {
    height: 40px;
    margin-right: 750px;
    margin-top: 20px;

}

.h1-footer {
    font-size: 16px;
    color: #f5b461;
    margin-right: 500px;
}    



/*3 COLUMNS 
.flex-grid {
    display: flex;
}

.social.container {
    flex: 1;
}

.explore.container {
    flex: 1;
}

.blog.container{
    flex: 1;
}
*/


/* TITLE and SOCIAL MEDIA STUFF 
https://www.youtube.com/watch?v=58RRl1JTJvY
*/


.social-container {
    float: left;
    width: 33%;
    height: 200px;
    border: 1px solid black;

}
.social-title {
    color: darkgray;
    font-family: sans-serif;
}

a.social {
    margin: 0 2rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    color: white;
    transform: translateY(-2px);
}

a.coffee.social {
    color: darkgray;
}

a.twitter.social{
    color: black;
}


/* EXPLORE CONTAINER */

.explore-container  {
    float: left;
    width: 33%;
    height: 200px;
    border: 1px solid black;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/* BLOG CONTAINER */
 .blog-container {
    float: left;
    width: 33%;
    height: 200px;
    border:1px solid black;
 }

 .blog.preview {
     font-size: 1px;
 }


/* BOTTOM CONTAINER */

.bottom-container {
    border:1px solid black;
    margin: 30px;
    
}

.copyright {
    color: darkgray;
    font-size: 0.75rem;
    padding: 20px;
    display: inline;
}

.privacy {
    color: darkgray;
    font-size: 0.75rem;
    padding: 20px;
    display: inline;
}

.termsofservice {
    color: darkgray;
    font-size: 0.75rem;
    padding: 20px;
    display: inline;
}