body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Flight and calendar search area comming from Airport and App.js components */
.from {
  flex-wrap: wrap;
  margin: 0;
}

.to {
  flex-wrap: wrap;
}

.airport-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 80px;
  justify-content: left;
  justify-content: center;
}
.from-main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.to-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  margin-left: 8px;
  margin-bottom: 0;
}
.main-find-flights {
  display: flex;
  justify-content: center;
}
.find-flights {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 270px;
  border-radius: 10px;
  background-color: #3b749e;
  color: white;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 60px;
  margin-top: 30px;
  margin-left: 85px;
}
.find-flights:hover {
  background-color: #39749d;
}

.calendar {
  width: 300px;
  height: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  border: 1px solid;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* End of Flight and calendar CSS */

.calendar-btn-div {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1040px) {
  .find-flights {
    margin-left: 30px;
  }
}

@media screen and (max-width: 850px) {
  .airport-search {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .find-flights {
    margin-left: 10px;
  }
  .calendar {
    margin-right: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .from-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }

  .to-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
    margin-bottom: 0;
  }

  .calendar {
    width: 270px;
    height: 110px;
    margin-left: 10px;
  }

  .find-flights {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
  }

  .airport-search {
    margin-top: 40px;
  }
}
